<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/img/logo.png" type="image/png">
    <title>Xhopii - Home</title>
</head>
<body>

    <header>
        <section id="cabecalho-logo">
            <img src="/img/logo.png">
            <h1>Xhopii</h1>
        </section>
        <section id="cabecalho-logout">
            <a href="/login">Sair</a>
        </section>
    </header>

    <nav class="menu-horizontal">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clientes/cadastrar">Cadastro Cliente</a></li>
            <li><a href="/funcionario/cadastrar">Cadastro Funcionário</a></li>
            <li><a href="/produto/cadastrar">Cadastro Produto</a></li>
            <li><a href="/clientes">Ver Clientes</a></li>
            <li><a href="#">Ver Funcionários</a></li>
            <li><a href="#">Ver Produtos</a></li>
        </ul>
    </nav>

    <section class="conteudo-home">
        <section class="conteudo-home-carousel">
            <img id="img-carousel" src="/img/carousel-1.jpg">
        </section>
        <img src="/img/home-promocao.png">
        <section class="conteudo-home-descobertas">
            <section class="conteudo-home-descobertas-titulo">
                <h1>Descobertas do dia</h1>
                <hr>
            </section>
            <section class="conteudo-home-descobertas-produto">
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
                <a href="ver-produto.html" class="produto-item-grid">
                    <section>
                        <img src="/img/produto1.png">
                        <p>Camisa Desenvolvedor Front-End CSS</p>
                        <section class="produto-item-info">
                            <p id="valor">R$ 59,90</p>
                            <p id="disponiveis">171 disponíveis</p>
                        </section>
                    </section>
                </a>
            </section>
        </section>
    </section>

    <footer class="rodape">
        <section class="conteudo-rodape-info">
            <section class="conteudo-rodape">
                <h5 id="rodape-titulo">Atendimento ao cliente</h5>
                <a href="#">Central de Ajuda</a>
                <a href="#">Como Comprar</a>
                <a href="#">Métodos de Paramento</a>
                <a href="#">Garantia Xhopii</a>
                <a href="#">Devolução e Reembolso</a>
                <a href="#">Fale Conosco</a>
                <a href="#">Ouridoria</a>
                <a href="#">Preferências de cookies</a>
            </section>
            <section class="conteudo-rodape">
                <h5 id="rodape-titulo">Sobre a Xhopii</h5>
                <a href="#">Sobre Nós</a>
                <a href="#">Políticas Xhopii</a>
                <a href="#">Política de Privacidade</a>
                <a href="#">Programa de Ailiados da Xhopii</a>
                <a href="#">Seja um Entregador Xhopii</a>
                <a href="#">Ofertas Relâmpago</a>
                <a href="#">Xhopii Blog</a>
                <a href="#">Impresa</a>
            </section>
            <section class="conteudo-rodape">
                <h5 id="rodape-titulo">Pagamento</h5>
                <section class="conteudo-rodape-pagamento">
                    <img id="img-pagamento" src="/img/logo-visa.png">
                    <img id="img-pagamento" src="/img/logo-mastercard.png">
                    <img id="img-pagamento" src="/img/logo-hipercard.png">
                    <img id="img-pagamento" src="/img/logo-elo.png">
                    <img id="img-pagamento" src="/img/logo-american-express.png">
                    <img id="img-pagamento" src="/img/logo-boleto.png">
                    <img id="img-pagamento" src="/img/logo-pix.png">
                </section>               
            </section>
            <section class="conteudo-rodape">
                <h5 id="rodape-titulo">Siga-nos</h5>
                <a href="#"><img id="img-sociais" src="/img/logo-instagram.png">Instagram</a>
                <a href="#"><img id="img-sociais" src="/img/logo-tiktok.png">Tik Tok</a>
                <a href="#"><img id="img-sociais" src="/img/logo-twitter.png">X/Twitter</a>
                <a href="#"><img id="img-sociais" src="/img/logo-facebook.png">Facebook</a>
                <a href="#"><img id="img-sociais" src="/img/logo-linkedln.png">Linkedln</a>
            </section>
            <section class="conteudo-rodape">
                <h5 id="rodape-titulo">Atendimento ao cliente</h5>
                <img id="img-store" src="/img/qr-code.png">
                <img id="img-store" src="/img/logo-store-apple.png">
                <img id="img-store" src="/img/logo-google-play.png">
            </section>
        </section>
        <hr>
        <p>© 2025 Xhopii. Todos os direitos acadêmicos reservados</p>
    </footer>

</body>
</html>